/* Selector Universal */

header{
    padding: 50px;
    background-color: #3a251c;
    text-align: center;
}

nav{
    display: flex;
    flex-direction: row;
    background-color: #b46424;
    
}

nav a{
    color:white;
    padding: 14px 20px;
    text-decoration: none;
}

#contenedor{
    width: 900px;
    height: 1860px;
    background-color: #f1ecea;
    max-width: 0 auto;
    border-radius: 5px;
    }

#contenido{
    height: 75%;
    width: 58%;
    background-color: #362f2f;
    margin: 0.5em;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    }

.encabezado-aside{
    padding: 10px 10px;
    text-align: center;;
    color: white;
    margin: 1em 2em;
}

#fueraSeccion{
    height: 75%;
    width: 36%;
    background-color: #b58c7c ;
    margin: 0.5em;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
}

.encabezado-articulo{
    padding: 15px 15px;
    text-align: center;
    color: white;
    margin: 1em 2rem;
    font-size: 38px;
    border-radius: 5px;
    }

    /* Selector de clase */
    .texto{
        text-align: justify;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        padding: 5px 25px;
        color: white;
        }

.subtexto{
    text-align: justify;
        font-family:'Times New Roman', Times, serif;
        font-size: 20px;
        padding: 5px 25px;
        color: white;
}

.img{
    width: 100px 100px;
    border-radius: 1px;
    padding: 5px 5px;
    justify-items:center;
}

.texto_2{
    text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        padding: 5px 25px;
        color: white;
}

footer{
    width: 15%;
    text-align:center;
    background-color: #3a251c;
}
/* Selector de clase */

.row{
    display: flex;
    flex-wrap: wrap;
}
@media screen and (max-width:70px){
    nav,.row{
        flex-direction: column;
    }
    
}
